
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2> TRANG QUẢN LÝ ADMINISTRATION</h2>
<img style="width:700px" src="https://mgpvn.com/wp-content/uploads/2019/06/ban-giay-dep.jpg" />
