@model Shoeshop.Models.THUONGHIEU

@{
    ViewBag.Title = "XoaThuongHieu";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Xoá thương hiệu</h2>

<h3>Bạn có muốn xóa thương hiệu này không?</h3>
<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Thương hiệu:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenThuongHieu)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("TRỞ VỀ", "ThuongHieu")
        </div>
    }
</div>
