@model IEnumerable<Shoeshop.Models.GIAY>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<h3 style="color:red; text-align:center; font-weight:bold"> GIÀY THEO THƯƠNG HIỆU  </h3>

<div class="row">
    @foreach (var giay in Model)
    {
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <li>
                    <a href="@Url.Action("Details", "Shoeshop", new { id = giay.Magiay })">
                        <img alt="@giay.Tengiay" src="~/product_imgs/@giay.AnhBia" />
                        <span>@giay.Tengiay</span>
                    </a>
                    <div class="ratings">
                        <p class="pull-right">15 reviews</p>
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                        </p>
                    </div>
                </li>

            </div>
        </div>
    }
</div>

